/* #img1{
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 5px;
    
    max-width: 100%;
    height: auto;
} */
/* #div2{
    width: 400%;
    width: 300%;
    background-image: url('../images/img1.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid gray;
    box-shadow: 5px;
    border-radius: 3px;
    
} */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Jost:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Jost:ital,wght@1,300&family=Rubik+Bubbles&display=swap');
.fconatiner,
.fconatiner1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: column-reverse;
 

}

.fchild,
.fchild1 {
    align-items: flex-start;
    flex-shrink: initial;}
p{
    font-size: larger;
    font-weight: 300;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Jost', sans-serif;

}

#paradiv {
    align-content: center;
}#text{
    align-self:left;
}
#upcoming{
    font-size: larger;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Jost', sans-serif;
    font-family: 'Rubik Bubbles', cursive;
}
.img{
    width: 25%;
}
