#footer{
    color: white;
    background-color: cadetblue;
   
    position: absolute;
    bottom: 0px;
    /* bottom: 50%; */
    width: 100%;
    
}
a{
    color: white;
    text-decoration: none;
}
a:link{
    color: white;
}
a:visited{
    color: white;
}
a:hover{
    color: white;
}
a:active{
    color: white;
}
table{
    margin: auto;
    padding: 2px;
}
tr{
    text-align: center;
    align-content: center;

}
td{
    padding: 5px;
}
