#first{
    align-items: right;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: cadetblue;
   
    
  
    
}
li{
    padding: 25px;
    display: inline;
    
    

}
a{
    text-decoration: none;
    color: white;

}